body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-size: 100%;
}

.h2 {
  color: var(--color);
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.h2:hover {
  color: #333;
  background-color: #f0f0f0;
  transition: all 0.3s ease;
}

.social-icons ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;

}

.social-icons ul li {
  list-style: none;
  margin: 0 10px;
}

.social-icons ul li a .fa {
  font-size: 30px;
  color: #262626;
  line-height: 60px;
  transition: .5s;
}

.social-icons ul li a {
  display: block;
  width: 50px;
  height: 60px;
  background: #7a7a7c;
  text-align: center;
  transform: rotate(318deg) skew(199deg) translate(0, 0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
  position: relative;
}

.social-icons ul li a:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #0a1116;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}

.social-icons ul li a:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #464646;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

.social-icons ul li a:hover {
  transform: skew(5deg) translate(20px, -50px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}

.social-icons ul li:hover .fa {
  color: #fff;
}

.social-icons ul li:hover:nth-child(1) a {
  background: #3b5998;
}

.social-icons ul li:hover:nth-child(1) a:before {
  background: #365492;
}

.social-icons ul li:hover:nth-child(1) a:after {
  background: #4a69ad;
}

.social-icons ul li:hover:nth-child(2) a {
  background: #00aced;
}

.social-icons ul li:hover:nth-child(2) a:before {
  background: #097aa5;
}

.social-icons ul li:hover:nth-child(2) a:after {
  background: #53b9e0;
}

.social-icons ul li:hover:nth-child(3) a {
  background: #dd4b39;
}

.social-icons ul li:hover:nth-child(3) a:before {
  background: #b33a2b;
}

.social-icons ul li:hover:nth-child(3) a:after {
  background: #e66a5a;
}

.social-icons ul li:hover:nth-child(4) a {
  background: #e4405f;
}

.social-icons ul li:hover:nth-child(4) a:before {
  background: #d81c3f;
}

.social-icons ul li:hover:nth-child(4) a:after {
  background: #e46880;
}


section.one {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

}

.card {
  display: flex;
  align-items: center;
  padding: 30px;
  margin: 20px;
  background-color: #f5f5f5;
  text-align: left;
  overflow: hidden;
  position: relative;
  box-shadow: 20px 20px 42px #d0d0d0, -20px -20px 42px #ffffff;
  width: 80%;
  /* Thẻ card sẽ chiếm toàn bộ chiều rộng */
  max-width: none;

}

.card .left-content,
.card .right-content {
  padding: 10px;
}

.card .left-content {
  flex: 1;
}

.card .right-content {
  flex: 2;
}

.card .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  z-index: 1;
  position: relative;
  border-radius: 50%;
}

.card .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1f1b1b;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.card:hover .picture::before {
  height: 100%;
}

.card .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1f1b1b;
  position: absolute;
  top: 0;
  left: 0%;
  z-index: -1;
}

.card .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.card:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

/* Main content section */
.card .main-content {
  margin-bottom: -15px;
}

.card .main-content .title {
  display: block;
  font-size: 15px;
  color: #1f1b1b;
  text-transform: capitalize;
  margin: 5px 37px 0;
}

.card .main-content .name {
  padding: 0;
  margin: 8px;
  text-transform: uppercase;
}

.card .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1f1f1b;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.card:hover .social {
  bottom: 0;
}

.card .social li {
  display: inline-block;
}

.card .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: #fff;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.card .social li a:hover {
  color: #3e3b44;
  background-color: #f7f5ec;
  transition: 0.5s;
}

/* Skill section */
.skills {
  text-align: left;
  padding: 15px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #1f1b1b;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}

.skills ul li:hover {
  background-color: #1f1b1b;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

:root {
  --bg-color-light: #ffffff;
  --primary-bg-light: #8c43ff;
  --color-light: #333;
  --togglebg-light: #d4e7d5;
  --toggleslider-light: #fff;
  --roundcolor-light: #fff;
  --svgcolor-light: #111;
  --border-color-light: #ffffff;
  /* Màu của border trong chủ đề sáng */
}
/* Kích thước màn hình lớn hơn 1024px */
@media (min-width: 1025px) and (max-width: 1280px) {
  .card {
    padding: 20px; /* Tăng padding cho card */
    width: 80%; /* Giảm chiều rộng xuống 80% */
    max-width: 80%; /* Giới hạn chiều rộng tối đa */
  }

  .card .main-content .title {
    font-size: 16px; /* Tăng kích thước chữ cho tiêu đề */
  }

  .card .main-content .name {
    font-size: 18px; /* Tăng kích thước chữ cho tên */
  }

  .card .social li a {
    padding: 10px; /* Tăng padding cho icon xã hội */
    font-size: 16px; /* Tăng kích thước chữ cho icon xã hội */
  }

  .skills ul li {
    font-size: 12px; /* Tăng kích thước chữ cho kỹ năng */
  }
}

/* Kích thước màn hình lớn hơn 1280px */
@media (min-width: 1281px) {
  .card {
    padding: 25px; /* Tăng padding cho card */
    width: 58%; /* Đặt chiều rộng card xuống 70% */
    max-width: 70%; /* Giới hạn chiều rộng tối đa */
  }

  .card .main-content .title {
    font-size: 18px; /* Tăng kích thước chữ cho tiêu đề */
  }

  .card .main-content .name {
    font-size: 20px; /* Tăng kích thước chữ cho tên */
  }

  .card .social li a {
    padding: 12px; /* Tăng padding cho icon xã hội */
    font-size: 17px; /* Tăng kích thước chữ cho icon xã hội */
  }

  .skills ul li {
    font-size: 13px; /* Tăng kích thước chữ cho kỹ năng */
  }
}
/* Media query cho màn hình pc */

@media (max-width: 1024px) {
  .card {
    padding: 15px;
    width: 100%;
    max-width: 100%;
  }

  .card .left-content,
  .card .right-content {
    padding: 5px;
  }

  .card .main-content .title {
    font-size: 14px;
    margin: 5px 20px 0;
  }

  .card .main-content .name {
    margin: 5px;
  }

  .card .social li a {
    padding: 8px;
    font-size: 15px;
  }

  .skills ul li {
    font-size: 11px;
    padding: 5px;
  }
}
/* Media query cho màn hình điện thoại lớn */
@media (max-width: 768px) {
  .card {
    padding: 15px;
    width: 100%;
    max-width: 100%;
  }

  .card .left-content,
  .card .right-content {
    padding: 5px;
  }

  .card .main-content .title {
    font-size: 14px;
    margin: 5px 20px 0;
  }

  .card .main-content .name {
    margin: 5px;
  }

  .card .social li a {
    padding: 8px;
    font-size: 15px;
  }

  .skills {
    display: block; /* Đảm bảo phần skills nằm dưới */
    margin-top: 20px; /* Tạo khoảng cách giữa các phần */
  }

  .skills ul {
    display: flex; /* Nếu bạn muốn kỹ năng được sắp xếp ngang */
    flex-wrap: wrap; /* Nếu có nhiều kỹ năng, chúng sẽ xuống dòng */
    justify-content: center; /* Căn giữa các kỹ năng */
    padding: 0; /* Bỏ padding cho ul */
    list-style-type: none; /* Bỏ dấu đầu dòng */
  }

  .skills ul li {
    font-size: 11px;
    padding: 5px 10px; /* Tăng khoảng cách giữa các kỹ năng */
  }
}

/* Media query cho màn hình điện thoại nhỏ */
@media (max-width: 480px) {
  .card {
    padding: 15px;
    margin: 10px;
    background-color: #fafafa; /* Màu nền nhẹ hơn để phân biệt rõ hơn */
    border: 1px solid #ddd; /* Thêm viền nhẹ để làm nổi bật card */
    border-radius: 8px; /* Bo góc nhẹ cho card */
    display: flex; /* Sử dụng flexbox để căn giữa */
    flex-direction: column; /* Sắp xếp các phần theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
    text-align: center; /* Căn giữa nội dung văn bản */
  }

  .card .main-content .title {
    font-size: 14px; /* Tăng kích thước chữ để dễ đọc hơn */
    margin: 5px 0; /* Đặt lại khoảng cách */
    color: #333; /* Màu chữ tối hơn cho tiêu đề */
  }

  .card .main-content .name {
    font-size: 16px; /* Tăng kích thước chữ cho tên */
    margin: 3px 0; /* Đặt lại khoảng cách */
    color: #555; /* Màu chữ sáng hơn cho tên */
  }

  .skills {
    margin-top: 15px; /* Tạo khoảng cách giữa card và phần kỹ năng */
    background-color: #f0f0f0; /* Màu nền cho phần kỹ năng để phân biệt */
    padding: 10px; /* Thêm padding cho phần kỹ năng */
    border-radius: 5px; /* Bo góc cho phần kỹ năng */
    width: 100%; /* Đảm bảo phần kỹ năng chiếm toàn bộ chiều rộng của card */
  }

  .skills ul {
    list-style-type: none; /* Bỏ dấu đầu dòng */
    padding: 0; /* Bỏ padding */
    display: flex; /* Sử dụng flexbox để căn giữa kỹ năng */
    flex-wrap: wrap; /* Nếu có nhiều kỹ năng, chúng sẽ xuống dòng */
    justify-content: center; /* Căn giữa các kỹ năng */
  }

  .skills ul li {
    font-size: 12px; /* Tăng kích thước chữ cho kỹ năng */
    padding: 5px; /* Thêm padding cho từng kỹ năng */
    background-color: #e0e0e0; /* Màu nền cho từng kỹ năng */
    border-radius: 4px; /* Bo góc cho kỹ năng */
    margin: 5px; /* Tạo khoảng cách giữa các kỹ năng */
  }

  /* Ẩn phần social-icons khi màn hình nhỏ hơn 480px */
  .social-icons {
    display: none; /* Ẩn phần này */
  }
}

/* Define variables for dark theme */
:root {
  --bg-color-dark: #333333;
  --primary-bg-dark: #333;
  --color-dark: #e9dcdc;
  --togglebg-dark: #333;
  --toggleslider-dark: #e9dcdc;
  --roundcolor-dark: #333;
  --svgcolor-dark: #fff;
  --border-color-dark: #666666;
  /* Màu của border trong chủ đề tối */

}

:root {
  --header-bg-light: #ffffff;
  --header-bg-dark: #333333;
}



html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  background: var(--bg-color-light);
  /* Default background color */
  transition: background-color 0.3s ease;
  /* Smooth transition for background color */

}


[data-theme="light"] {
  --bg-color: var(--bg-color-light);
  --primary-bg: var(--primary-bg-light);
  --color: var(--color-light);
  --togglebg: var(--togglebg-light);
  --toggleslider: var(--toggleslider-light);
  --roundcolor: var(--roundcolor-light);
  --svgcolor: var(--svgcolor-light);
  --border-color: var(--border-color-light);
  /* Sử dụng màu border của chủ đề sáng */

}

/* Apply dark theme styles */
[data-theme="dark"] {
  --bg-color: var(--bg-color-dark);
  --primary-bg: var(--primary-bg-dark);
  --color: var(--color-dark);
  --togglebg: var(--togglebg-dark);
  --toggleslider: var(--toggleslider-dark);
  --roundcolor: var(--roundcolor-dark);
  --svgcolor: var(--svgcolor-dark);
  --border-color: var(--border-color-dark);
  /* Sử dụng màu border của chủ đề tối */

}

.nav {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* Thay đổi từ flex-start thành space-between để căn giữa */
  align-items: center;
  /* Căn giữa các phần tử theo chiều dọc */
  z-index: 10;
  position: fixed;
  background-color: var(--bg-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Đổ bóng cho thanh đầu trang */
  padding: 0 2rem;
  /* Tăng padding để các nút không bị dính sát mép */
  transition: background-color 0.3s ease;
  /* Smooth transition for background color */

}

#navbar {
  transition: background-color 0.3s ease;
  
}

/* Màu nền khi cuộn trang */
.navbar-scrolled {
  background-color: var(--bg-color);
  
}

/* Màu nền khi lên đầu trang */
.navbar-transparent {
  background-color: var(--bg-color);
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  /* Căn giữa các phần tử theo chiều dọc */
  gap: 2rem;
  /* Khoảng cách giữa các mục menu */
}

.nav__link {
  color: var(--color);
  /* Sử dụng màu chữ từ biến màu đã định nghĩa */
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 1rem 0;
  /* Điều chỉnh khoảng cách giữa các nút */
  position: relative;
  transition: color 0.3s;
  /* Thêm hiệu ứng màu chữ khi hover */
}

.nav__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  /* Điều chỉnh chiều cao của thanh underline */
  background-color: var(--primary-bg);
  /* Sử dụng màu primary đã định nghĩa */
  transform: scaleX(0);
  /* Mặc định ẩn thanh underline */
  transition: transform 0.3s ease-out;
  /* Hiệu ứng mở rộng thanh underline */
}

.nav__link:hover::before {
  transform: scaleX(1);
  /* Hiển thị thanh underline khi hover */
}

.logo {
  color: var(--color);
  /* Sử dụng màu chữ từ biến màu đã định nghĩa */
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}


.nav-toggle {
  display: none;
}

.nav__link::before {
  
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--bg-color);
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}

.nav__link:active::before {
  background-color: var(--bg-color);
  
}

.nav__link:hover::before,
.nav__link:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.logo {
  padding: 3vh 5vw;
  text-align: center;
  display: flex;
  align-items: center;
  color: var(--color);
  text-transform: uppercase;
  width: 25rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.smalllogo {
  display: none;
  background-color: var(--bg-color);
  color: var(--color);
  
}

a {
  text-decoration: none;
  color: var(--color);
}

/* Responsive adjustments */
@media (max-width: 800px) {
  .nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 400ms cubic-bezier(0.51, 0.6, 0.54, 0.59);
    height: 100vh;
  }

  .nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
    padding: 135px;
    background-color: var(--bg-color);
    width: 100%;
  }

  .logo {
    display: none;
  }

  .smalllogo {
    padding: 4.7vh 8vw;
    text-align: center;
    display: flex;
    align-items: center;
    color: var(--color);
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
  }

  .logolink {
    text-decoration: none;
    color: var(--color);
  }

  .nav-toggle {
    display: block;
    padding: 2.3em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 1.1rem;
    z-index: 1000;
    outline: none;
    color: var(--color);

  }

  .nav__link {
    margin: 0;
    color: var(--color);
  }

  .nav-open {
    overflow: hidden;
  }

  .nav-open .nav {
    transform: translateX(0);
    width: 100vw;
  }

  .nav-open .logo {
    display: none;
  }

  .nav-open .hamburger {
    transform: rotate(0.625turn);
    background-color: var(--color);
  }

  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
    background-color: var(--color);
  }

  .nav-open .hamburger::after {
    opacity: 0;
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background-color: var(--color);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }

  .hamburger::before {
    top: 6px;
  }

  .hamburger::after {
    bottom: 6px;
  }

  .nav__item {
    color: var(--color);
  }

  .nav__link::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--color);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
  }

  .nav__link:active::before {
    background-color: var(--color);
  }

  .nav__link:hover::before,
  .nav__link:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}

section {
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  min-height: 110vh;
}

.section.one {
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* Chiều cao bằng cửa sổ hiện tại */
  padding: 0 200px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  /* Căn giữa theo chiều dọc */
  justify-content: center;
  /* Căn giữa theo chiều ngang */
  text-align: center;
  flex-grow: 1;
  /* Cho phép các section này mở rộng ít hơn section one */
  border-left: none;
  /* Loại bỏ border bên trái */
  border-right: none;
  /* Loại bỏ border bên phải */
  position: relative;
  /* Để các phần tử pseudo có thể áp dụng vị trí tuyệt đối */

  /* Mở rộng những gì bạn cần thêm */
}




@media (max-width: 800px) {
  .section.one {
    padding: 15px;
    /* Giảm padding để phù hợp với thiết bị nhỏ hơn */
  }
}

.section.two {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Căn giữa theo chiều dọc */
  background-color: var(--bg-color);
  height: 1px; /* Đặt chiều cao tự động để phù hợp với nội dung */
}

.switch {
  display: block;
  background-color: black;
  width: 150px;
  height: 195px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2), 0 0 1px 2px black, inset 0 2px 2px -2px white, inset 0 0 2px 15px #47434c, inset 0 0 2px 22px black;
  border-radius: 5px;
  padding: 10px;
  perspective: 700px;
}

.switch input {
  display: none;
}

.switch input:checked+.button {
  transform: translateZ(20px) rotateX(25deg);
  box-shadow: 0 -10px 20px #ff1818;
}

.switch input:checked+.button .light {
  animation: flicker 0.2s infinite 0.3s;
}

.switch input:checked+.button .shine {
  opacity: 1;
}

.switch input:checked+.button .shadow {
  opacity: 0;
}

.switch .button {
  display: block;
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
  transform-origin: center center -20px;
  transform: translateZ(20px) rotateX(-25deg);
  transform-style: preserve-3d;
  background-color: #9b0621;
  height: 100%;
  position: relative;
  cursor: pointer;
  background: linear-gradient(#980000 0%, #6f0000 30%, #6f0000 70%, #980000 100%);
}

.switch .button::before {
  content: "";
  background: linear-gradient(rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 0.3) 30%, #650000 75%, #320000) 50% 50%/97% 97%, #b10000;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  transform-origin: top;
  transform: rotateX(-90deg);
  position: absolute;
  top: 0;
}

.switch .button::after {
  content: "";
  background-image: linear-gradient(#650000, #320000);
  width: 100%;
  height: 50px;
  transform-origin: top;
  transform: translateY(50px) rotateX(-90deg);
  position: absolute;
  bottom: 0;
  box-shadow: 0 50px 8px 0px black, 0 80px 20px 0px rgba(0, 0, 0, 0.5);
}

.switch .light {
  opacity: 0;
  animation: light-off 1s;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#ffc97e, #ff1818 40%, transparent 70%);
}

.switch .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(transparent 30%, rgba(101, 0, 0, 0.7) 70%);
  background-size: 10px 10px;
}

.switch .characters {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, white) 50% 20%/5% 20%, radial-gradient(circle, transparent 50%, white 52%, white 70%, transparent 72%) 50% 80%/33% 25%;
  background-repeat: no-repeat;
}

.switch .shine {
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, transparent 3%) 50% 50%/97% 97%, linear-gradient(rgba(255, 255, 255, 0.5), transparent 50%, transparent 80%, rgba(255, 255, 255, 0.5)) 50% 50%/97% 97%;
  background-repeat: no-repeat;
}

.switch .shadow {
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 70%, rgba(0, 0, 0, 0.8));
  background-repeat: no-repeat;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes light-off {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }
}



.section.three {
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  /* Căn giữa theo chiều dọc */
  justify-content: center;
  /* Căn giữa theo chiều ngang */
  text-align: center;
}

.skill3 .skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  
}

.skill3 .skill-item {
  
  background-color: #e7e7e7;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px);
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s forwards;
  animation-delay: calc(var(--order) * 0.1s);
  box-shadow: 20px 20px 42px #d0d0d0, -20px -20px 42px #ffffff;

}

.skill3 .skill-item img {
  max-width: 100px;
  
  /* Adjust the size as needed */
  margin-bottom: 10px;
}

.skill3 .skill-item h3 {
  margin-bottom: 5px;
  font-size: 18px;
}

.skill3 .skill-item p {
  font-size: 14px;
  color: #555;
}

.skill3 .skill-item a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Button Sáng và Tối */
.switch {
  display: block;
  background-color: black;
  width: 150px;
  height: 195px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2), 0 0 1px 2px black, inset 0 2px 2px -2px white, inset 0 0 2px 15px #47434c, inset 0 0 2px 22px black;
  border-radius: 5px;
  padding: 20px;
  perspective: 700px;
}

.switch input {
  display: none;
}

.switch input:checked+.button {
  transform: translateZ(20px) rotateX(25deg);
  box-shadow: 0 -10px 20px #ff1818;
}

.switch input:checked+.button .light {
  animation: flicker 0.2s infinite 0.3s;
}

.switch input:checked+.button .shine {
  opacity: 1;
}

.switch input:checked+.button .shadow {
  opacity: 0;
}

.switch .button {
  display: block;
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
  transform-origin: center center -20px;
  transform: translateZ(20px) rotateX(-25deg);
  transform-style: preserve-3d;
  background-color: #9b0621;
  height: 100%;
  position: relative;
  cursor: pointer;
  background: linear-gradient(#980000 0%, #6f0000 30%, #6f0000 70%, #980000 100%);
  background-repeat: no-repeat;
}

.switch .button::before {
  content: "";
  background: linear-gradient(rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 0.3) 30%, #650000 75%, #320000) 50% 50%/97% 97%, #b10000;
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  transform-origin: top;
  transform: rotateX(-90deg);
  position: absolute;
  top: 0;
}

.switch .button::after {
  content: "";
  background-image: linear-gradient(#650000, #320000);
  width: 100%;
  height: 50px;
  transform-origin: top;
  transform: translateY(50px) rotateX(-90deg);
  position: absolute;
  bottom: 0;
  box-shadow: 0 50px 8px 0px black, 0 80px 20px 0px rgba(0, 0, 0, 0.5);
}

.switch .light {
  opacity: 0;
  animation: light-off 1s;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#ffc97e, #ff1818 40%, transparent 70%);
}

.switch .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(transparent 30%, rgba(101, 0, 0, 0.7) 70%);
  background-size: 10px 10px;
}

.switch .characters {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, white) 50% 20%/5% 20%, radial-gradient(circle, transparent 50%, white 52%, white 70%, transparent 72%) 50% 80%/33% 25%;
  background-repeat: no-repeat;
}

.switch .shine {
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(white, transparent 3%) 50% 50%/97% 97%, linear-gradient(rgba(255, 255, 255, 0.5), transparent 50%, transparent 80%, rgba(255, 255, 255, 0.5)) 50% 50%/97% 97%;
  background-repeat: no-repeat;
}

.switch .shadow {
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 70%, rgba(0, 0, 0, 0.8));
  background-repeat: no-repeat;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes light-off {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }
}

/* FOOTER */
footer {
  background-color: #282c34;
  /* Màu nền footer */
  color: white;
  /* Màu chữ */
  padding: 20px 0;
  /* Padding trên và dưới */
  text-align: center;
  /* Căn giữa nội dung */
}

.footer-content {
  margin-bottom: 20px;
  /* Khoảng cách giữa các phần */
}

.footer-content h2 {
  font-size: 2rem;
  /* Kích thước tiêu đề */
  margin-bottom: 10px;
  /* Khoảng cách dưới tiêu đề */
}

.footer-content p {
  margin: 5px 0;
  /* Khoảng cách giữa các đoạn */
}

.footer-content a {
  color: #61dafb;
  /* Màu của các liên kết */
  text-decoration: none;
  /* Không gạch chân */
}

.footer-content a:hover {
  text-decoration: underline;
  /* Gạch chân khi hover */
}

.footer-download {
  margin-top: 20px;
  /* Khoảng cách phía trên */
}

.footer-download p {
  margin-bottom: 10px;
  /* Khoảng cách dưới đoạn chữ */
}

.footer-download img {
  width: 50px;
  /* Kích thước logo */
  height: 50px;
  /* Đảm bảo chiều cao bằng chiều rộng để có hình tròn */
  border-radius: 50%;
  /* Bo tròn hình ảnh */
  cursor: pointer;
  /* Hiển thị con trỏ chuột khi hover */
  transition: transform 0.3s;
  /* Hiệu ứng chuyển động */
  object-fit: cover;
  /* Đảm bảo hình ảnh không bị méo */
}


.footer-download a {
  display: inline-block;
  /* Hiển thị như khối để dễ căn giữa */
  transition: transform 0.3s;
  /* Hiệu ứng chuyển động */
}

.footer-download a:hover {
  transform: scale(1.1);
  /* Phóng to khi hover */
}

/* Responsive */
@media (max-width: 768px) {
  footer {
    padding: 15px 0;
    /* Giảm padding cho màn hình nhỏ */
  }

  .footer-content h2 {
    font-size: 1.5rem;
    /* Giảm kích thước tiêu đề */
  }
}

/* Section Four*/
section.four {
  display: flex; /* Sử dụng flexbox để căn giữa */

  justify-content: center;
  background-color: var(--bg-color);
  padding: 20px; /* Thêm khoảng cách xung quanh phần */

}

.card1 {
  width: 50%;
  height: auto; /* Đặt chiều cao tự động để phù hợp với nội dung */
  max-height: 80vh; /* Giới hạn chiều cao tối đa */
  box-shadow: 20px 20px 42px #8520c9, -20px -20px 42px #8520c9;

  background: #202020;
  border: 1px solid #c042ff;
  font-size: 14px;
  font-family: monospace;
  overflow: auto;
  border-radius: 8px; /* Bo góc cho card */

}

.titlebar {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 21px;
  font-weight: 450;
  background-color: #181818;
  width: 100%;
  text-align: right;
  padding: 10px; /* Thêm padding để nội dung không sát viền */

}
@media (max-width: 1024px) {
  .card1 {
    width: 70%; /* Đặt chiều rộng cho tablet */
  }
}

@media (max-width: 768px) {
  .card1 {
    width: 90%; /* Đặt chiều rộng cho điện thoại */
  }

  .titlebar {
    font-size: 18px; /* Giảm kích thước chữ trong tiêu đề */
  }
}

@media (max-width: 480px) {
  .card1 {
    font-size: 10px;
    width: 95%; /* Đặt chiều rộng tối đa cho điện thoại nhỏ */
    padding: 5px; /* Thêm padding cho card */
  }

  .titlebar {
    font-size: 12px; /* Giảm thêm kích thước chữ trong tiêu đề */
  }

  /* Giảm kích thước của nút trong card */
  .card1 button {
    width: 30px; /* Giảm kích thước nút */
    height: 25px;
  }
}

.card1 button {
  width: 40px;
  height: 35px;
  margin-left: -5px;
  border: 0;
  outline: 0;
  background: transparent;
  transition: 0.2s;
}

button svg path,
button svg rect,
button svg polygon {
  fill: #ffffff;
}

button svg {
  width: 10px;
  height: 10px;
}

.close:hover {
  background-color: #e81123;
}

.maximize:hover {
  background-color: #c042ff2e;
}

.minimize:hover {
  background-color: #c042ff2e;
}

#pre {
  overflow: auto;
  width: 100%;
  padding: 10px;
  height: auto;
  color: #bafff8;
}

.curlies {
  color: #ff0000;
}

.sc {
  color: #e600ff;
}

.rounds {
  color: #ffffff;
}

.operator {
  color: #ffff00;
}

.s1 {
  color: #22ff00;
}

.s2 {
  color: #4281ff;
}

.s3 {
  color: #ff4284;
}

.s4 {
  color: #ffae00;
}

.s5 {
  color: #ffffff;
}

.s6 {
  color: #ffff00;
}

.result-container {
  margin-top: 20px;
  padding: 15px;
  border: 2px solid #007bff;
  /* Màu viền */
  border-radius: 5px;
  /* Bo tròn */
  background-color: #f9f9f9;
  /* Màu nền */
}

.result-container h3 {
  margin: 0 0 10px 0;
  /* Căn lề cho tiêu đề */
}

.result-container p {
  margin: 0;
  /* Không có khoảng cách cho đoạn văn */
  font-size: 1.1rem;
  /* Kích thước chữ cho kết quả */
  color: #333;
  /* Màu chữ */
}

/* Animation */
@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }

  10.5% {
    left: 0;
    top: 0;
  }

  12.5% {
    left: 32px;
    top: 0;
  }

  23% {
    left: 32px;
    top: 0;
  }

  25% {
    left: 64px;
    top: 0;
  }

  35.5% {
    left: 64px;
    top: 0;
  }

  37.5% {
    left: 64px;
    top: 32px;
  }

  48% {
    left: 64px;
    top: 32px;
  }

  50% {
    left: 32px;
    top: 32px;
  }

  60.5% {
    left: 32px;
    top: 32px;
  }

  62.5% {
    left: 32px;
    top: 64px;
  }

  73% {
    left: 32px;
    top: 64px;
  }

  75% {
    left: 0;
    top: 64px;
  }

  85.5% {
    left: 0;
    top: 64px;
  }

  87.5% {
    left: 0;
    top: 32px;
  }

  98% {
    left: 0;
    top: 32px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

.loader {
  position: fixed; /* Đặt vị trí cố định */
  width: 96px;
  height: 96px;
  transform: rotate(0deg);
  bottom: 20px; /* Khoảng cách từ đáy trang */
    right: 20px; /* Khoảng cách từ bên phải */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Đảm bảo loader nằm trên các phần tử khác */

}

.loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
  animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
  animation-delay: -10s;
}
/* Zalo Button */
.zalo-button {
  position: fixed; /* Định vị cố định */
  bottom: 20px; /* Khoảng cách từ đáy */
  left: 20px; /* Khoảng cách từ bên trái */
  z-index: 1000; /* Đảm bảo nút nằm trên cùng */
}

.zalo-button a {
  display: inline-block;
  padding: 10px; /* Padding cho nút */
  background-color: rgb(255, 255, 255);
  color: white; /* Màu chữ */
  border-radius: 50%; /* Bo tròn nút */
  text-decoration: none; /* Bỏ gạch chân */
  box-shadow: 0 2px 10px rgba(245, 245, 245, 0.3); /* Đổ bóng cho nút */
  transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
}

.zalo-button a:hover {
  background-color: var(--bg-color);
}

.fa-zalo {
  font-size: 24px; /* Kích thước biểu tượng Zalo */
}

/* Media query cho kích thước mobile */
@media (max-width: 768px) {
  .zalo-button {
    left: 10px; /* Đặt gần hơn với cạnh trái cho mobile */
  }
}
