/* Define variables for light theme */
:root {
  --bg-color-light: #ffffff;
  --primary-bg-light: #8c43ff;
  --color-light: #333;
  --togglebg-light: #d4e7d5;
  --toggleslider-light: #fff;
  --roundcolor-light: #fff;
  --svgcolor-light: #111;
    --border-color-light: #ffffff; /* Màu của border trong chủ đề sáng */
}

/* Define variables for dark theme */
:root {
  --bg-color-dark: #333333;
  --primary-bg-dark: #333;
  --color-dark: #e9dcdc;
  --togglebg-dark: #333;
  --toggleslider-dark: #e9dcdc;
  --roundcolor-dark: #333;
  --svgcolor-dark: #fff;
    --border-color-dark: #666666; /* Màu của border trong chủ đề tối */

}

:root {
  --header-bg-light: #ffffff;
  --header-bg-dark: #333333;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  background: var(--bg-color-light); /* Default background color */
  transition: background-color 0.3s ease; /* Smooth transition for background color */

}


[data-theme="light"] {
  --bg-color: var(--bg-color-light);
  --primary-bg: var(--primary-bg-light);
  --color: var(--color-light);
  --togglebg: var(--togglebg-light);
  --toggleslider: var(--toggleslider-light);
  --roundcolor: var(--roundcolor-light);
  --svgcolor: var(--svgcolor-light);
    --border-color: var(--border-color-light); /* Sử dụng màu border của chủ đề sáng */

}

/* Apply dark theme styles */
[data-theme="dark"] {
  --bg-color: var(--bg-color-dark);
  --primary-bg: var(--primary-bg-dark);
  --color: var(--color-dark);
  --togglebg: var(--togglebg-dark);
  --toggleslider: var(--toggleslider-dark);
  --roundcolor: var(--roundcolor-dark);
  --svgcolor: var(--svgcolor-dark);
    --border-color: var(--border-color-dark); /* Sử dụng màu border của chủ đề tối */

}

.nav {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Thay đổi từ flex-start thành space-between để căn giữa */
  align-items: center; /* Căn giữa các phần tử theo chiều dọc */
  z-index: 10;
  position: fixed;
  background-color: var(--bg-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Đổ bóng cho thanh đầu trang */
  padding: 0 2rem; /* Tăng padding để các nút không bị dính sát mép */
    transition: background-color 0.3s ease; /* Smooth transition for background color */

}
#navbar {
  transition: background-color 0.3s ease;
}

/* Màu nền khi cuộn trang */
.navbar-scrolled {
  background-color: var(--bg-color);
}

/* Màu nền khi lên đầu trang */
.navbar-transparent {
  background-color: var(--bg-color);
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center; /* Căn giữa các phần tử theo chiều dọc */
  gap: 2rem; /* Khoảng cách giữa các mục menu */
}

.nav__link {
  color: var(--color); /* Sử dụng màu chữ từ biến màu đã định nghĩa */
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 1rem 0; /* Điều chỉnh khoảng cách giữa các nút */
  position: relative;
  transition: color 0.3s; /* Thêm hiệu ứng màu chữ khi hover */
}

.nav__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Điều chỉnh chiều cao của thanh underline */
  background-color: var(--primary-bg); /* Sử dụng màu primary đã định nghĩa */
  transform: scaleX(0); /* Mặc định ẩn thanh underline */
  transition: transform 0.3s ease-out; /* Hiệu ứng mở rộng thanh underline */
}

.nav__link:hover::before {
  transform: scaleX(1); /* Hiển thị thanh underline khi hover */
}

.logo {
  color: var(--color); /* Sử dụng màu chữ từ biến màu đã định nghĩa */
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}


.nav-toggle {
  display: none;
}

.nav__link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
    background-color: var(--bg-color);
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}

.nav__link:active::before {
    background-color: var(--bg-color);
}

.nav__link:hover::before,
.nav__link:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.logo {
  padding: 3vh 5vw;
  text-align: center;
  display: flex;
  align-items: center;
    color: var(--color);
  text-transform: uppercase;
  width: 25rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.smalllogo {
  display: none;
}

a {
  text-decoration: none;
    color: var(--color);
}

/* Responsive adjustments */
@media (max-width: 800px) {
  .nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 400ms cubic-bezier(0.51, 0.6, 0.54, 0.59);
    height: 100vh;
  }

  .nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
    padding: 135px;
    background-color: var(--bg-color);
    width: 100%;
  }

  .logo {
    display: none;
  }
  .smalllogo {
    padding: 4.7vh 8vw;
    text-align: center;
    display: flex;
    align-items: center;
    color: var(--color);
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
  }

  .logolink {
    text-decoration: none;
    color: var(--color);
  }

  .nav-toggle {
    display: block;
    padding: 2.3em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 1.1rem;
    z-index: 1000;
    outline: none;
        color: var(--color);

  }

  .nav__link {
    margin: 0;
    color: var(--color);
  }

  .nav-open {
    overflow: hidden;
  }

  .nav-open .nav {
    transform: translateX(0);
    width: 100vw;
  }

  .nav-open .logo {
    display: none;
  }

  .nav-open .hamburger {
    transform: rotate(0.625turn);
    background-color: var(--color);
  }

  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
    background-color: var(--color);
  }

  .nav-open .hamburger::after {
    opacity: 0;
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background-color: var(--color);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }

  .hamburger::before {
    top: 6px;
  }

  .hamburger::after {
    bottom: 6px;
  }

  .nav__item {
    color: var(--color);
  }

  .nav__link::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--color);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
  }

  .nav__link:active::before {
    background-color: var(--color);
  }

  .nav__link:hover::before,
  .nav__link:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}

section {
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  min-height: 110vh;
}

.section.one {
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Chiều cao bằng cửa sổ hiện tại */
  padding: 50px; /* Khoảng cách từ nội dung đến viền */
  box-sizing: border-box; /* Hộp đóng gói để padding không làm thay đổi kích thước */
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center; /* Căn giữa theo chiều ngang */
  text-align: center;
  flex-grow: 1; /* Cho phép các section này mở rộng ít hơn section one */
  border-left: none; /* Loại bỏ border bên trái */
  border-right: none; /* Loại bỏ border bên phải */
  position: relative; /* Để các phần tử pseudo có thể áp dụng vị trí tuyệt đối */

  /* Mở rộng những gì bạn cần thêm */
}
.section.one::before,
.section.one::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: -50px;
  width: 500px; /* Độ rộng của hình ảnh */
  background-image: url('image/back2.png'); /* Đường dẫn đến hình ảnh */
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.section.one::before {
  left: -300px; /* Khoảng cách từ hình ảnh bên trái */
}

.section.one::after {
  right: -280px; /* Khoảng cách từ hình ảnh bên phải */
}

@media (max-width: 800px) {
  .section.one {
    padding: 15px; /* Giảm padding để phù hợp với thiết bị nhỏ hơn */
  }
}
.section.two {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px; 
  box-sizing: border-box; 
  text-align: center;
}

.theme-toggle-btn {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: var(--togglebg);
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.toggle-slider {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--toggleslider);
  border-radius: 50%;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .theme-toggle-btn .toggle-slider {
  transform: translateX(26px);
}

[data-theme="dark"] .theme-toggle-btn .toggle-slider {
  transform: translateX(26px);
}

/* Animation */
@keyframes toggleTheme {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.theme-toggle-btn.checked .toggle-slider {
  animation: toggleSliderAnimation 0.3s linear;
}

@keyframes toggleSliderAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(26px);
  }
}


.section.three {
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  padding: 50px; 
  box-sizing: border-box; 
   display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center; /* Căn giữa theo chiều ngang */
  text-align: center;
}

.skill3 .skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill3 .skill-item {
  background-color: #e7e7e7;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px);
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s forwards;
  animation-delay: calc(var(--order) * 0.1s);
}

.skill3 .skill-item img {
  max-width: 100px; /* Adjust the size as needed */
  margin-bottom: 10px;
}

.skill3 .skill-item h3 {
  margin-bottom: 5px;
  font-size: 18px;
}

.skill3 .skill-item p {
  font-size: 14px;
  color: #555;
}

.skill3 .skill-item a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

footer {
  background-color: var(--primary-bg);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.footer__logo {
  max-width: 80px;
  height: auto;
  border-radius: 50%;
}

.footer__link {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__pdf {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
}

.footer__pdf img {
  max-width: 30px;
  height: auto;
}

footer .footer__container {
  flex-direction: row;
}

.footer__column {
  margin: 10px;
  text-align: center;
}

